.container {
    background-color: rgb(49, 143, 111)    ;
}
.newItineraryContainer {
    display: flex;
}

.dropdown {
    border: red dotted;
    display: flex;
    padding: 1em;
    flex-direction: column;
}