@import "./weather.css";
@import "./park.css";

.container {
    background-color: rgb(49, 143, 111)    ;
}
.mainContainer {
    display: flex
}
/* .newItineraryContainer {
    display:flex;
    flex: 1;
} */

.previews {
    flex: 1
}

.dropdown {
    border: red dotted;
    padding: 1em;
    flex-direction: column;
}