@import "./weather.css";

.container {
    background-color: rgb(49, 143, 111)    ;
}
.mainContainer {
    display: flex
}
.newItineraryContainer {
    display:flex
    flex: 2;
}

.previews {
    flex: 2
}

.dropdown {
    border: red dotted;
    padding: 1em;
    flex-direction: column;
}